@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #22262A;
    background: #FFFFFF;
}

a {
    color: #22262A;
}

.container {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.hide {
    display: none;
}

.section__top {
    text-align: center;
    margin-bottom: 70px;
}

.title__section {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
}

/* .subtitle__section {} */

.btn {
    display: inline-block;
    padding: 5px 28px;
    background: #22262A;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    transition: all .3s ease-in;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    transform: translateY(1px);
}


/* Header */
.header {
    padding: 25px 0;
    background: #FFFFFF;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 700;
    font-size: 28px;
}

.header__nav-menu {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.header__nav-menu-link {
    font-size: 18px;
    transition: all .5s ease-in;
    position: relative;
}

.header__nav-menu-link:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #22262A;

    position: absolute;
    left: 0;
    bottom: -3px;
}

.header__nav-menu-link:active {
    opacity: 0.8;
}

.header__nav-control {
    display: flex;
    align-items: center;
    column-gap: 45px;
}

/* Collusion */
.collusion {
    padding-top: 400px;
    padding-bottom: 120px;
    
    background-image: url(../img/collusion/collusion-bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.collusion__content {
   width: 455px;
   margin-left: auto;
}

.collusion__subtitle {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
}

.collusion__title {
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 20px;
}

.collusion__desc {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 25px;
}

.collusion__buttons {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

/* Catagory name */
.catagory {
    padding-top: 120px;
    padding-bottom: 60px;
}

.catagory__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 30px;
}

.catagory__row-left {
    width: 50%;
}

.catagory__row-left-collumn {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
}

.catagory__row-left-collumn-bottom {
    display: flex;
    align-items: flex-start;
    column-gap: 25px;
}

.catagory__row-right {
    width: 50%;
    position: relative;
}

.catagory__row-right img {
    filter: brightness(60%);
}

.btn__white {
    background-color: #ffffff;
    color: #22262A;
    position: absolute;
    left: 28px;
    bottom: 25px;
}


/* Fashion Women`s and Men`s */
.fashion {
    padding: 60px 0;
}

.fashion__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
}

.fashion__row-item {
    width: 268px;
}

.fashion__row-item-img {
    width: 100%;
    margin-bottom: 35px;
}

.fashion__row-item-subtitle {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 5px;
}

.fashion__row-item-title {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
}

.fashion__row-item-price {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.fashion__row-item-price--black {
    text-decoration: line-through;
}
.fashion__row-item-price--red {
    color: #CF2929;
}

/* Avone styles*/
.avone-styles {
    padding: 60px 0;
}

.avone-styles__row {
    display: flex;
    align-items: flex-start;
    column-gap: 29px;
}

.avone-styles__row-left {
    min-width: 552px;
    height: 680px;
    display: flex;
    align-items: flex-end;
}

.avone-styles__row-img-1 {
    width: 100%;
    height: 602px;
}

.avone-styles__row-right {
    min-width: 514px;
    height: 680px;
    position: relative;
}

.avone-styles__row-right::after {
    content: "";
    display: block;
    width: 235px;
    height: 280px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 20px;
    right: 0;
}

.avone-styles__row-img-2 {
    width: 100%;
    height: 451px;
}

.avone-styles__row-img-3 {
    width: 227px;
    height: 281px;
    position: absolute;
    right: -20px;
    bottom: -10px;
    z-index: 10;
}

.avone-styles__row-link {
    display: inline-block;
    margin-top: 178px;
    margin-left: 140px;
    position: relative;
    transition: all .5s ease;
}

.avone-styles__row-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #22262A;
    position: absolute;
    left: 0;
    bottom: -5px;
}
